body {
  background-color: orange;
}

#header {
  font-family: cursive;
  text-align: center;
}

#slogan {
  font-family: cursive;
  text-align: center;
  color: darkred;
}

img {
   max-height: 100%;
  max-width: 100%;
}

div {
  height: 160px;
  width: 260px;
  margin-left: 140px;
}

#description {
  text-align: center;
}
